<form (ngSubmit)="logForm()">
  <ion-item>
   Day 1
    <ion-label>
      <li>{{this.prevision.date}}</li>
      <li>{{this.prevision.description}}</li>
      <li>{{this.prevision.temp}}</li>
    </ion-label>
  </ion-item>
  <ion-item>
   Day 2
    <ion-label>
      <!-- <li>{{this.prevision.date}}</li>
      <li>{{this.prevision.description}}</li>
      <li>{{this.prevision.temp}}</li> -->
    </ion-label>
  </ion-item>
  <ion-item>
   Day 3
    <ion-label>
      <!-- <li>{{this.prevision.date}}</li>
      <li>{{this.prevision.description}}</li>
      <li>{{this.prevision.temp}}</li> -->
    </ion-label>
  </ion-item>
</form>

