<form *ngIf="prevision">
  <ion-item>
    <ion-label type="text" style="text-align: center">
     
      <li>{{this.prevision.date}}</li>
      <li>{{this.prevision.description}}</li>
      <li>
        <ion-icon name="thermometer">
        </ion-icon>
        {{this.prevision.temp}}
      </li>
      <br />
     
      <li>{{this.prevision.dateTwo}}</li>
      <li>{{this.prevision.descriptionTwo}}</li>
      <li>
        <ion-icon name="thermometer">
        </ion-icon>
        {{this.prevision.tempTwo}}
      </li>
     
      <br />
      <li>{{this.prevision.dateThird}}</li>
      <li>{{this.prevision.descriptionThird}}</li>
      <li>
        <ion-icon name="thermometer">
        </ion-icon>
        {{this.prevision.tempThird}}
      </li>
    </ion-label>
  </ion-item>
</form>