.city {
  font-size: x-large;
  font-weight: bold;
  display: inline;
  position: absolute;
  margin: 0 auto;
}
ion-button {
  position: static;
  margin-right: 85%;
}
ion-header {
  background-color: rgb(25, 50, 59);
  color: white;
}
// ion-icon{

// }
